header {
    background-color: rgba(3, 169, 244, 0.5);
    font-size: 30px;
}

header a {
    margin: 5px;
}

footer {
    background-color: rgba(3, 169, 244, 0.5);
}

textarea {
    overflow: visible;
}

.project-result {
    color: inherit;
    text-decoration: none;
}
